/* inicio do css do login */

/* fim do css do login */

/* inicio do css da dashboard */

    #numeroFaturamento {
        font-size: 2rem;
        font-weight: bold;
    }

    #numeroPedidos {
        font-size: 2rem;
        font-weight: bold;
    }

/* fim do css da dashboard */


/* inicio css do caixa */

    #caixaMainDiv {
        background-color: rgb(228,228,228);
        display: flex; 
        flex-direction: row;
        
    }

    .categoriasBorda {
        border-radius: 12px;
        background-color: white;
        width: fit-content !important;
        
    }

    .categoriasBorda a {
        text-decoration: none;
        color: black;
        font-size: 19px;
    }

    .categorias {
        display: flex;
        flex-direction: row;
        gap: 8px;
        flex-wrap: wrap;
    }

    .caixaBody {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 14px;
    }

    .cardsCaixa {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .produtosCaixa {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }

    
/* fim css do caixa */