/* inicio do css do login */

/* fim do css do login */

/* inicio do css da dashboard */

    #numeroFaturamento {
        font-size: 2rem;
        font-weight: bold;
    }

    #numeroPedidos {
        font-size: 2rem;
        font-weight: bold;
    }

/* fim do css da dashboard */


/* inicio css do caixa */
    
.body {
     background-color: rgb(228, 228, 228);
}

.caixa {
    justify-content: center;
    align-items: center;
}

.cardResumo {
    
}


.produtosCaixa { 
    gap: 10px;
    justify-content: center;
}

.categorias {
    display: flex;
    text-align: center;
    gap: 8px;
    margin-bottom: 10px;
}

.categoriasBorda {
    border-radius: 12px;
    background-color: white;
    padding: 6px;
}

.categoriasBorda a {
    text-decoration: none;
    color: black;
    font-size: 19px;
}

.imgProduto {
    width: 15px;
    height: 120px;
    object-fit: cover;
}

.cardProduto {
    padding: 0 !important;
}

/* fim css do caixa */

/* inicio do css dos pedidos */

.addPedido {
    width: 15vw;
    
}

.table {
    background-color: white;
    border-radius: 12px !important;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    width: 100%;
}
/* fim do css dos pedidos */

/* inicio do css cozinha */

.cardsCozinha {
    display: flex;
    justify-content: space-around;
    
}

.tituloCard {
    padding: 10px;
    font-size: 20px;
    margin-bottom: 14px;
}

.statusCard {
    background-color: #c7c2bf;
    padding: 20px 100px 40px 100px;
    border-radius: 14px;

}

.cardsPreparo {
    width: 600px;
    margin-bottom: 20px;
}



/* fim do css cozinha */

/* inicio do css do cardapio */


/* fim do css do cardapio */



/* inicio do css do estoque */

.cardsEstoque {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.estoqueCardTitulo {
    font-size: 30px;
}

.cardEstoqueItem {
    width: 25vw;
}


/* fim do css do estoque */