/* inicio do css do login */

/* fim do css do login */

/* inicio do css da dashboard */

    #numeroFaturamento {
        font-size: 2rem;
        font-weight: bold;
    }

    #numeroPedidos {
        font-size: 2rem;
        font-weight: bold;
    }

/* fim do css da dashboard */


/* inicio css do caixa */
    
.body {
     background-color: rgb(228, 228, 228);
}

.caixaBody {
   place-items: center;
   align-content: center;
  
}

.cardResumo {
    place-items: center;
    padding: 0 !important;
    align-content: center;
    width: fit-content;
}

.produtosCaixa {
    place-items: center;
    align-content: center;
    justify-content: center;
    gap: 2vh;
}

.categorias {
    display: flex;
    text-align: center;
    gap: 8px;
}

.categoriasBorda {
    border-radius: 12px;
    background-color: white;
}

.categoriasBorda a {
    text-decoration: none;
    color: black;
    font-size: 19px;
}



/* fim css do caixa */

/* inicio do css dos pedidos */

.addPedido {
    width: 15vw;
    
}

.table {
    border: 1px solid black !important;
    border-radius: 12px !important;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    width: 100%;
}
/* fim do css dos pedidos */